body {
    font-family: "Open Sans", sans-serif;
    color: #444;
}

.background {
    background-image: url(../../../img/paginas/frontend/back.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed
}

.hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/1.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-text h1 {
    position: relative;
    z-index: 10;
    font-size: 50px;
    color: #fff
}

.hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/2.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-image3 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/3.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-image4 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/4.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-image5 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/5.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-image6 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/6.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-image7 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/7.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-image8 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/8.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-image9 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../img/paginas/frontend/sobre_vinhos/9.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.sidenav1 {
    height: auto;
    width: 200px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 92.5px;
    border-radius: 30px
}

.sidenav1 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #000;
    cursor: pointer;
    display: block
}

.sidenav1 a:hover {
    color: #cacaca
}

.main {
    margin-left: 175px;
    padding: 0 10px;
    margin-top: 20px
}

@media screen and (max-height:450px) {
    .sidenav1 {
        padding-top: 15px
    }
    .sidenav1 a {
        font-size: 18px
    }
}

.holder>div {
    display: none
}

[dir=eight]>.eightTxt,
[dir=five]>.fiveTxt,
[dir=four]>.fourTxt,
[dir=nine]>.nineTxt,
[dir=one]>.oneTxt,
[dir=seven]>.sevenTxt,
[dir=six]>.sixTxt,
[dir=three]>.threeTxt,
[dir=two]>.twoTxt {
    display: block
}

.text {
    padding: 1%;
    margin-left: 25px;
    min-height: 782px
}

.holder div {
    animation: .5s ease-out 0s 1 slideInFromLeft
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(10%)
    }
    100% {
        transform: translateY(0)
    }
}

.mainTXT {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1%;
    padding-left: 1%
}

.all2,
.sidenav {
    margin-left: 100px
}

.all2 {
    margin-left: 50px;
    margin-right: 100px
}

.active1 {
    color: #fff!important;
    background-color: #742f37;
    border-radius: 30px
}

.ttext {
    display: none
}

.btn-container {
    margin: auto;
    height: 44px;
    width: 166.23px
}

.toggle {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    border: none;
    padding: 8px;
    font-size: 20px;
    background: rgba(116, 47, 55);
    color: #fff;
    font-family: cursive;
    box-sizing: border-box
}

.toggle:hover {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    border: none;
    padding: 8px;
    font-size: 20px;
    background: rgba(116, 47, 55, .7);
    color: #fff;
    font-family: cursive;
    box-sizing: border-box
}

.sidenav1 a:hover {
    background-color: rgba(116, 47, 55, .3);
    border-radius: 30px
}

.sidenav1 a:active {
    background-color: rgba(116, 47, 55, .7);
    border-radius: 30px
}
